@model ProjektPAUP.Models.CreateSkladisteModel
@{
    var skladista = TempData["Skladista"] as List<Skladiste>;
   
}

<form asp-action="DeleteSkladiste" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-group">
        <label asp-for="Id"></label>
        <select asp-for="Id" class="form-control">
            @if (skladista != null)
            {
                @foreach (var item in skladista)
                {
                    <option value="@item.Id">
                        @item.Ime
                    </option>
                }
            }
        </select>
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>

   
    <button type="submit">Obrisi Skladiste</button>

</form>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

